.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width:300px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
input[type="search"] {
    font-family: FontAwesome, serif;
}
.table thead tr{
    text-align: left;
}
.table th,td{
    padding: 12px 15px;
}
.table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.table tbody tr:nth-of-type(even){
    background: #f3f3f3;
}
.table tbody tr:last-of-type{
    border-bottom: 1px solid black;
}
